BODY 
  {
  margin-left: 3%;
  margin-right: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  background-color: #FFFFFF;
  }
A:link 
  {
  color: #336699;
  }
A:visited 
  {
  color: #663399;
  }
H1, H2, H3, H4, H5, H6 
  {
  font-family: Arial, Helvetica, sans-serif;
  color: #336699;
  }
UL 
  {
  list-style: disc outside;
  }
.featured 
  {
  border: thin dotted; 
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 15%;
  width: 69%;
  }
a.standardsButton {
    border:1px solid;
    border-color:#ffc8a4 #7d3302 #3f1a01 #ff9a57;
    padding:0px 3px 0px 3px;
    font:bold 10px verdana,sans-serif; 
    color:#FFFFFF; 
    background-color:#ff6600;
    text-decoration:none;
    margin:0px;
   }
